{
  "dev": {
    "wxAppId": "YOUR_WX_APP_ID",
    "emas": {
      "spaceId": "YOUR_EMAS_SPACE_ID",
      "clientSecret": "YOUR_EMAS_CLIENT_SECRET",
      "endpoint": "https://api.next.bspapp.com"
    }
  },
  "prod": {
    "wxAppId": "YOUR_WX_APP_ID",
    "emas": {
      "spaceId": "YOUR_EMAS_SPACE_ID",
      "clientSecret": "YOUR_EMAS_CLIENT_SECRET",
      "endpoint": "https://api.next.bspapp.com"
    }
  }
}
