{
  "dev": {
    "wxAppId": "wx6797dbdc8e87ed7c",
    "emas": {
      "spaceId": "mp-7cc0e56a-b5a1-4347-8a40-f3868127df92",
      "clientSecret": "WF5bbdgWDNbR51FMDQ1gEw==",
      "endpoint": "https://api.next.bspapp.com"
    }
  },
  "prod": {
    "wxAppId": "wx6797dbdc8e87ed7c",
    "emas": {
      "spaceId": "mp-7cc0e56a-b5a1-4347-8a40-f3868127df92",
      "clientSecret": "WF5bbdgWDNbR51FMDQ1gEw==",
      "endpoint": "https://api.next.bspapp.com"
    }
  }
}
